{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/about/about.css') }}" />
{% endblock %}
{% block menu %}
    {% include '@TLSCore/Default/index.html.twig' %}
{% endblock %}