.menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #303030;
  position: fixed;
  z-index: 100;
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .480em;
  padding-bottom: 5px;
}

.menu a:hover {
  border-bottom: 2px solid #fff;
}

.menu img {
  width: 80px;
  height: auto;
}