{% extends 'base.html.twig' %}
{% block menu %}
    <header class="uk-text-middle uk-text-center menu">
        <a href="#">Home</a>
        <a href="{{ path('tls_core_about') }}">About</a>
        <img src="{{ asset('bundles/tlscore/img/logoTls_white.png') }}">
        <a href="#">Contact</a>
        <a href="{{ path('tls_core_work') }}">Works</a>
    </header>
{% endblock %}