<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/tlscore/img/logoTls_black.png') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/UIKit/css/uikit.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/UIKit/css/uikit-rtl.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/menu/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/global.css') }}" />
    {% block stylesheet %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <title>Théo LE SOMMIER - Portfolio</title>
</head>
<body>
{% block menu %}{% endblock %}
{% block content %}{% endblock %}
<script type="text/javascript" src="{{ asset('bundles/tlscore/css/UIKit/js/uikit-icons.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/tlscore/css/UIKit/js/uikit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/tlscore/js/jquery-min.js') }}"></script>
</body>
</html>
