html, body {
  height: 100%;
}
.menu a:nth-child(5) {
  border-bottom: 2px solid #fff;
}

.container_global {
  margin-top: 80px;
  width: 100%;
  height: 150px;
}

// Animate the size, outside
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

$colors: (
        pulse: #727272,
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
// Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #727272;
  }
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;

}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#city {
  width: auto;
  margin-top: 6px;
}
#map {
  height: calc(100% - 220px);
}

#weather_desc {
  text-transform: capitalize;
}