:root {
  font-size: calc(1vw + 1vh + 1.5vmin); }

#main_page {
  background-color: #f0f0f0;
  min-height: 100vh;
  font-size: 1rem; }

h1 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 140px #0ff; }

/*# sourceMappingURL=quote.css.map */
