{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/work/meteo.css') }}" />
{% endblock %}
{% block menu %}
    {% embed '@TLSCore/Default/index.html.twig' %}{% endembed %}
{% endblock %}
{% block content %}
    <script type="text/javascript" src="{{ asset('bundles/tlscore/js/work/meteo.js') }}"></script>
{% endblock %}