{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/work/meteo.css') }}" />
{% endblock %}
{% block menu %}
    {% embed '@TLSCore/Default/index.html.twig' %}{% endembed %}
{% endblock %}
{% block content %}
    <div class="uk-container container_global test">
        <div class="uk-search uk-search-large uk-align-left">
            <input id="city" class="uk-search-input" type="search" placeholder="Search for a city">
        </div>
        <div class="buttons uk-align-center">
            <button id="searchBtn" class="pulse">Rechercher</button>
        </div>
    </div>
    <div id="map"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb8k7HsUMM6RlItZL2i3KYRpl_BIefpOY">
    </script>
    <script type="text/javascript" src="{{ asset('bundles/tlscore/js/work/meteo.js') }}"></script>
{% endblock %}