{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/tlscore/css/work/work.css') }}"/>
{% endblock %}
{% block menu %}
    {% embed '@TLSCore/Default/index.html.twig' %}{% endembed %}
{% endblock %}
{% block content %}
    <div class="card_meteo uk-container">
        <div class="uk-child-width-1-4 uk-grid-small uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{ asset('bundles/tlscore/img/icon_meteo.png') }}" alt="meteo">
                    </div>
                    <div class="uk-card-body">
                        Découvrez la météo de votre ville
                    </div>
                    <div class="uk-card-footer">
                        <a href="{{ path('tls_core_work_meteo') }}" class="uk-button uk-button-text">VOIR</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{ asset('bundles/tlscore/img/icon_chat.png') }}" alt="chat">
                    </div>
                    <div class="uk-card-body">
                        Entrez dans l'univers du chat instantané
                    </div>
                    <div class="uk-card-footer">
                        <a href="{{ path('tls_core_work_chat') }}" class="uk-button uk-button-text">CHATTER</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="" alt="">
                    </div>
                    <div class="uk-card-body"></div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="" alt="">
                    </div>
                    <div class="uk-card-body"></div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="" alt="">
                    </div>
                    <div class="uk-card-body"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}